---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$code-font:				'Cutive Mono';

// Our variables
$base-font-size:   		16px;
$small-font:            13px;
$base-font-weight: 		400;
$small-font-size:  		$base-font-size * 0.875;
$base-line-height: 		1.5;

$spacing-unit:     		30px;

// Palette
$text-color:            #111;
$background-color:      #fdfdfd;
$footer-bg:             #2A363B;
$header:                #2A363B;

$quote-colour:          #4F4E57;

$code-bg:               #E4E8EB;

$grey-color:            #556270;
$grey-color-light:      lighten($grey-color, 30%);
$grey-color-dark:       darken($grey-color, 25%);

$content-width:    		800px;
$footer-height:         280px;

$on-palm:          		600px;
$on-laptop:        		800px;

$icon-height:           50px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
		"reset",
		"vars",
        "mixins",
        "base",
        "buttons",
        "icons",
        "colours",
        "layout",
        "syntax-highlighting",
        "hover",
        "nav",
        "banner",
        "contact",
        "posts",
        "images",
        "image-containers",
        "fonts",
        "text",
        "about",
        "portfolio",
        "photography",
        "photography-section",
        "lists",
        "footer"
;
