---
layout: default
title: About Me | Elizabeth Chesters
---
<div class="parallax">
  {% include about/banner.html %}

  <div id="brief-cv" class="slide">
    <div class="title col-xs-12 col-md-10 position central">
      <h2>My Experience</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>UX Consultant</h3>
          <h4>RedEye</h4>
          <p>Currently a UX consultant, I conduct expert reviews, user testing, research and reports. I also build wireframes in-browser with HTML and in Axure. As an agency our work is varied across industries, like e-commerce, travel and education. Within our labs I both moderate and observe user sessions across all devices.</p>
          <ul class="skills">
            <li>UX</li>
            <li>User research</li>
            <li>Prototyping</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>Client Integration Engineer</h3>
            <h4>Cognia</h4>
          <p>As well as being a developer to integrate clients into our platform, building payment processors and telephony menus, I conducted all of the UX needs for the startup. I worked on projects like the in-house knowledge base and API experience from onboarding to the documentation.</p>
          <ul class="skills">
            <li>UX</li>
            <li>Java</li>
            <li>Client relations</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>Consultant</h3>
          <h4>ThoughtWorks</h4>
          <p>Hired as a developer and staffed as a UX-er, I worked and trained with ThoughtWorks, in Manchester, London, India and Hamburg. My main projects were ThoughtWorks.com and A World At School, working on visual design, user stories and client workshops.</p>
          <ul class="skills">
            <li>UX</li>
            <li>Consulting</li>
            <li>Agile</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">
          <h3>Application Server Developer</h3>
          <h4>CDL</h4>
          <p>Here I worked on software for call centres, and was first formally introduced to usability. I worked on a range of challenges from usability features, card reuse system to being a part of the infrastructure team for my last 6 weeks.</p>
          <ul class="skills">
            <li>Java</li>
            <li>Usability</li>
            <li>Agile</li>
          </ul>
        </div>
        <div class="text-center col-xs-12 no-padding">
          <a href="uk.linkedin.com/in/elizabeth-chesters-a9297883" class="btn position central col-xs-12 col-sm-5">Connect on LinkedIn</a>
        </div>
      </div>
    </div>
  </div>

  <div id="personal-projects" class="slide col-xs-12">
    <div class="col-xs-12 col-md-10 position central no-padding">
      <div class="title white col-xs-12 col-md-6 position left">
        <h2>Personal Projects</h2>
        <div class="icon">
          <h3>The Budaya Series</h3>
        </div>
        <p>In my spare time I study all of the things in user experience that consistently change across cultures. I am crafting a template for all international researchers, to help for localising projects. Its aim is to help developers and designers alike, with design examples and code snippets how to build systems to cater for a global audience.</p>
        <div class="text-center">
          <a href="/2016/04/26/budaya-how-language-impacts-ux.html" class="btn">Read my language article</a>
        </div>
      </div>
    </div>
  </div>

  <div id="teaching" class="small-slide">
    <div class="title white col-xs-12 col-md-10 position central">
      <h2>Teaching</h2>
      <div class="boxes">
        <div class="col-xs-12 col-md-4 box left">
          <h3>CodeFirst:Girls</h3>
          <p>For 2 years I have been <a href="//www.codefirstgirls.org.uk/meet-the-instructors.html">volunteering with CodeFirst:Girls</a>. Starting with their Ruby course in Manchester, to date I have taught basic web development, Python and Ruby in London. In addition to the courses I've also ran my UX Master Class twice!</p>
        </div>
        <div class="col-xs-12 col-md-4 box centre">
          <h3>23 Code Street</h3>
          <p>For 13 weeks I co-taught with the amazing <a href="//www.kate-alexander.com/">Kate Alexander</a> for <a href="//23codestreet.com/">23 Code Street</a>, a course where for every person taught in London, we teach a disadvantaged woman in India. The course teaches basic web development, Node and version control.</p>
          <div class="text-center">
          </div>
        </div>
        <div class="col-xs-12 col-md-4 box right">
          <h3>Tech Community</h3>
          <p>I volunteer for many groups in the tech community including a committee member of the Manchester Java Community. To date <a href="/pages/speaking.html">I've spoken at</a> Ladies that UX Manchester and London, Women Hack for Non Profits, London Java Community and EmpowerHack.</p>
        </div>
      </div>
      <div class="text-center col-xs-12 no-padding">
        <a href="/pages/teaching.html" class="btn position central col-xs-12 col-sm-5">Read about my teaching</a>
      </div>
    </div>
  </div>

  {% include _portfolio/photography.html %}
</div>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>