---
layout: default
---
<div class="col-xs-12 col-sm-11 col-md-9 col-lg-8 position central">
  <div class="col-xs-12 no-padding">
    <h2 class="index-title col-xs-12 no-padding">Blog</h2>
    <p class="col-xs-12 col-sm-8 col-md-6 col-lg-5 bio no-padding">I am Elizabeth Chesters. My passion is UX. From pestering users, to caricature sketches. Help me achieve world domination in UX by reading a post.</p>
  </div>
  
  <div class="row">
    <div class="portfolio-items">
      {% for post in paginator.posts %}
        {% assign mod2 = forloop.index | modulo: 2 %}
        {% assign mod3 = forloop.index | modulo: 3 %}
          <div class="col-md-4 col-sm-6 portfolio-item"> 
            <a href="{{ post.url }}" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
              </div>
              {% if post.image %}
              <div class="portfolio-img-container">
                <img src="{{post.image}}">
              </div>
              {% endif %}
              <div class="portfolio-caption">
                <h4>{{ post.title }}</h4>
                <p class="text-muted text-left">{{ post.description }}</p>
                <p class="date no-margin">{{ post.date | date: "%e %B %Y" }}</p>
              </div>
            </a>
          </div>
        {% if mod2 == 0 %}
          <div class="clearfix visible-sm-block"></div>
        {% endif %}
        {% if mod3 == 0 %}
          <div class="clearfix visible-md-block visible-lg-block"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-xs-12 text-center">
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous"></span>
      {% endif %}
      <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next"></span>
      {% endif %}
    </div>
  </div>
</div>
