---
layout: portfolio
title: Portfolio
header: Portfolio
image: /images/portfolio/portfolio-header.jpg
description: I am a UX researcher in London. When I'm not pestering users, you'll find me coding. Specialising in localisation, I've set out to discover how technology can have the biggest impact around the world.
---
{% include _components/banner.html %}

{% include _portfolio/current-projects.html %}
{% include _portfolio/podcast.html %}
{% include _portfolio/uxchat.html %}
{% include _portfolio/speaking.html %}
{% include _portfolio/external-writing.html %}
{% include _portfolio/work-experience.html %}
{% include _portfolio/skills.html %}
