<div id="about-master" class="col-xs-12 bg-light-gray add-padding vertical no-float">
  <div class="col-xs-12 col-sm-11 col-md-8 position central more-margin overflow-auto">
    <div class="col-xs-12 col-sm-11 col-md-6">
      <h2>What is the UX Masterclass?</h2>
      <p>The UX Masterclass is a 1-day workshop, offering an introduction of User Experience. What the discipline is, why it's useful and what it involves.</p>
      <p>The workshop showcases UX as an alternative career to coding, for those wanting to get involved in the tech industry.</p>
      <p>You learn by getting hands-on right from the beginning, from sketching and prototyping to user testing.</p>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6 no-padding">
      <img src="/images/ux-master/about.jpg" class="responsive-img">
    </div>
  </div>
</div>
