<div class="col-xs-12 bg-light-gray add-padding vertical no-float">
  <div class="col-xs-12 col-sm-9 col-md-8 position central more-margin overflow-auto">
    <div class="col-xs-12 col-sm-7 col-md-6 no-padding">
      <h2 id="about-master">What is the UX Masterclass?</h2>
      <p class="add-margin bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
      <h3>What is UX</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6 no-padding">
      <img src="/images/ux-master/banner-mariza.jpg" class="responsive-img">
    </div>
  </div>
</div>
