<div id="articles" class="col-xs-12 bg-white add-padding vertical no-float">
  <div class="col-xs-12 col-md-11 col-lg-10 position central more-margin overflow-auto">
    <h2 class="text-center">Blog posts of the workshop</h2>
    <p class="text-center col-xs-12 col-sm-10 col-md-8 col-lg-6 add-margin bottom position central">Check out what students and volunteers had to say about their experiences of the day!</p>

    <div class="container add-padding top">
      <div class="row add-margin bottom">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="https://medium.com/@herecomesjaycee/a-day-of-ux-masterclass-b3d0a79b9c87">
            <h5 class="text-center">A day in UX masterclass by Jaycee Cheong</h5>
          </a>
            <p>Having worked with and met many UX experts throughout my career, I ought to gain some...</p>
            <p class="date">July 2017</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="http://rma-consulting.com/ux_workshop/">
            <h5 class="text-center">An Introduction to User Experience Design, by Johanna Vollrath</h5>
          </a>
            <p>On Saturday 8th July,  I spent my time volunteering at a wonderful event run by CodeFirst:Girls...</p>
            <p class="date">July 2017</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="https://medium.com/@pinglinh/masterclass-in-ux-ui-design-a66f2d4029a6">
            <h5 class="text-center">Masterclass in UX/UI Design by Linh Nguyen My</h5>
          </a>
            <p>This is a long awaited post of my experience at UX/UI Masterclass (04.06.16) ran by...</p>
            <p class="date">July 2016</p>
        </div>
      </div>
    </div>
  </div>
</div>
