<div class="col-xs-12 bg-light-gray add-padding vertical no-float">
  <div class="col-xs-12 col-sm-9 col-md-8 position central more-margin overflow-auto">
    <h2 id="contact-me" class="text-center">Get in touch</h2>
    <p class="text-center col-xs-12 col-sm-8 position central add-margin bottom">Interested in running this event for your team? Would you like to volunteer? Then I would love to have a chat! This workshop can be tweaked for most ages and environments.</p>

    <div class="col-xs-12 col-sm-6 text-center">
      <img src="/images/icons/email.png" alt="" class="icon">
      <h3>Email</h3>
      <p>Yadda yadda</p>
    </div>

    <div class="col-xs-12 col-sm-6 text-center">
      <img src="/images/icons/twitter.png" alt="" class="icon">
      <h3>Twitter</h3>
      <p>Tweet me a question at @EChesters!</p>
    </div>
  </div>
</div>
