<div id="contact-me" class="col-xs-12 bg-light-gray add-padding vertical no-float">
  <div class="col-xs-12 col-sm-9 col-md-8 position central more-margin overflow-auto">
    <h2 id="contact-me" class="text-center">Get in touch</h2>
    <p class="text-center col-xs-12 col-sm-8 position central add-margin bottom">Would you like this event taught at your company? Interested in volunteering? Then I would love to have a chat! Let me know by either email or Twitter</p>

    <div class="col-xs-12 col-sm-8 text-center">
      <form action="https://formspree.io/elizabeth.chesters@gmail.com" method="POST" class="text-left col-xs-12 col-sm-9 col-md-8 col-lg-7 position central">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" id="name">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="_replyto" class="form-control" id="email">
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea type="text" name="message" class="form-control" rows="5" id="message"></textarea>
        </div>
        <input type="submit" value="Send an email" class="btn col-xs-12 col-sm-10 position central">
      </form>
    </div>

    <div class="col-xs-12 col-sm-4 text-center">
      <img src="/images/icons/twitter.png" alt="" class="illustration">
      <h3>Twitter</h3>
      <p>Tweet me a question at <a href="https://twitter.com/EChesters">@EChesters</a>!</p>
    </div>
  </div>
</div>
