<section id="faq" class="col-xs-12 bg-white add-padding vertical">
  <div class="col-xs-12 col-sm-11 col-md-10 position central">
    <h2 class="add-padding vertical text-center">Frequently Asked Questions</h2>

    <div class="half col-xs-12 col-sm-6 accordion">
      <div class="tab">
        <input id="tab-one" type="checkbox" name="tabs">
        <label for="tab-one">Who is the course for?</label>
        <div class="tab-content">
          <p>This course is suitable for high school students and older and does not require any knowledge of user experience.</p>
          <p>The event is ideal for those interested in changing careers into tech, is at the beginning of deciding on a career or simply curious about UX.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-two" type="checkbox" name="tabs">
        <label for="tab-two">Can you run this course at my company?</label>
        <div class="tab-content">
          <p>Yes! This event can be organised as a corporate day for your office, to encourage knowledge sharing or basic UX sharing. Likewise, I can run this event on behalf of your organisation.</p>
          <p><a href="/contact.html">Send me an email with what you have in mind!</a>
        </div>
      </div>
      <div class="tab">
        <input id="tab-three" type="checkbox" name="tabs">
        <label for="tab-three">Do I need to know what UX is, to be a student?</label>
        <div class="tab-content">
          <p>Absolutely not! This course is designed for those who know nothing about UX, and want an introduction.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-four" type="checkbox" name="tabs">
        <label for="tab-four">What do volunteers do on the day?</label>
        <div class="tab-content">
          <p>On the day volunteers will mentor all teams, challenging their app ideas and design decisions (essentially playing devils advocate). Volunteers are also welcome to share their experiences and add any information to the material during the presentations.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-five" type="checkbox" name="tabs">
        <label for="tab-five">Is this course only for women?</label>
        <div class="tab-content">
          <p>While this course has previously been run for CodeFirst:Girls, this course will be ran in the future which welcome all genders. <a href="https://twitter.com/EChesters">Keep an eye on my Twitter</a> for more news!</p>
        </div>
      </div>
    </div>

    <div class="half col-xs-12 col-sm-6 accordion">
      <div class="tab">
        <input id="tab-six" type="checkbox" name="tabs">
        <label for="tab-six">What do students do on the day?</label>
        <div class="tab-content">
          <p>The day is split up into topics. For each topic there is a 10 minute presentation, followed by group work putting the topic into practice. Expect to be hands-on and leave with Sharpie covered hands! There will be lots of sketching, sticky notes and debates.</p>
          <p>At the end of the workshop each team presents their app idea. Each team is judged on their app idea, what they learnt on the course, the thoughts behind each design decision and future plans for the app.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-seven" type="checkbox" name="tabs">
        <label for="tab-seven">How long is the workshop?</label>
        <div class="tab-content">
          <p>This workshop is designed to run for 1 day. Typically the day lasts from 10:00 until 16:30.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-eight" type="checkbox" name="tabs">
        <label for="tab-eight">What do you look for from sponsors?</label>
        <div class="tab-content">
          <p>Sponsors have supported us by providing venues, prizes and food. Teams on the day are divided into groups of 4 people who may not know each other. Prizes must be sponsored in numbers of 4, to be awarded to each member of the winning team.</p>
          <p>Previously, prizes have included Google VR headsets, copies of UX books, lab experiences, chocolate and stationnary.</p>
          <p>If you are interested in sponsoring this event, let me know by <a href="/contact.html">sending an email</a>.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-nine" type="checkbox" name="tabs">
        <label for="tab-nine">What does this workshop not cover?</label>
        <div class="tab-content">
          <p>The material of this course does not include anything about UI. This course focuses on UX research techniques, from personas to sketching and usability testing.</p>
          <p>See the <a href="#material">programme section</a> for an overview of what is taught.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-ten" type="checkbox" name="tabs">
        <label for="tab-ten">TEXT</label>
        <div class="tab-content">
          <p>While this course has previously been run for CodeFirst:Girls, this course will be ran in the future which welcome all genders. <a href="https://twitter.com/EChesters">Keep an eye on my Twitter</a> for more news!</p>
        </div>
      </div>
    </div>
  </div>
</section>
