<div id="photos">
  <section class="bg-light-gray add-padding vertical">
    <div class="container gal-container">
      <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#1">
            <img src="/images/ux-master/gallery-1.jpg" alt="UX Masterclass 2016">
          </a>
          <div class="modal fade" id="1" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-1.jpg" alt="Elizabeth running the first UX Masterclass, in front of the teams">
                </div>
                  <div class="col-md-12 description">
                    <h4>Elizabeth (me) presenting the first UX Masterclass, in 2015</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#2">
            <img src="/images/ux-master/gallery-2.jpg">
          </a>
          <div class="modal fade" id="2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-2.jpg" alt="Two students from my CodeFirst:Girls Ruby course, working on their idea.">
                </div>
                <div class="col-md-12 description">
                  <h4>Two students from my CodeFirst:Girls Ruby course, working on their idea. UX Masterclass 2015</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#3">
            <img src="/images/ux-master/gallery-3.jpg" alt="">
          </a>
          <div class="modal fade" id="3" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-3.jpg" alt="Daniel, a UI engineer volunteering alongside me">
                </div>
                  <div class="col-md-12 description">
                    <h4>Daniel, a UI engineer volunteering alongside me. UX Masterclass 2015</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#4">
            <img src="/images/ux-master/gallery-4.jpg">
          </a>
          <div class="modal fade" id="4" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-4.jpg" alt="Ama, mentoring a team with their app idea">
                </div>
                  <div class="col-md-12 description">
                    <h4>Ama, mentoring a team with their app idea. UX Masterclass 2015</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#5">
            <img src="/images/ux-master/gallery-5.jpg">
          </a>
          <div class="modal fade" id="5" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-5.jpg" alt="Daniel, a volunteer overseeing a team">
                </div>
                  <div class="col-md-12 description">
                    <h4>Daniel, a volunteer overseeing a team. UX Masterclass 2015</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#6">
            <img src="/images/ux-master/gallery-6.jpg">
          </a>
          <div class="modal fade" id="6" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-6.jpg" alt="Me, pulling a face presenting">
                </div>
                  <div class="col-md-12 description">
                    <h4>Me, pulling a face presenting. UX Masterclass 2016</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#7">
            <img src="/images/ux-master/gallery-7.jpg">
          </a>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-7.jpg" alt="A team of 5 women, brainstorming their app idea">
                </div>
                  <div class="col-md-12 description">
                    <h4>A team of 5 women, brainstorming their app idea. UX Masterclass 2016</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#8">
            <img src="/images/ux-master/gallery-8.jpg">
          </a>
          <div class="modal fade" id="8" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-8.jpg" alt="Student asking a question">
                </div>
                  <div class="col-md-12 description">
                    <h4>Student asking a question. UX Masterclass 2016</h4>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#9">
            <img src="/images/ux-master/gallery-9.jpg">
          </a>
          <div class="modal fade" id="9" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-9.jpg" alt="A team creating an empathy map, using paper and sticky notes">
                </div>
                <div class="col-md-12 description">
                  <h4>A team creating an empathy map, using paper and sticky notes. UX Masterclass 2016</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#10">
            <img src="/images/ux-master/gallery-10.jpg">
          </a>
          <div class="modal fade" id="10" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                  <img src="/images/ux-master/gallery-10.jpg" alt="The class watching the presentation part of the day, laughing">
                </div>
                <div class="col-md-12 description">
                  <h4>The class watching the presentation part of the day. UX Masterclass 2016</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
