<div id="material" class="col-xs-12 bg-white add-padding vertical no-float">
  <div class="col-xs-12 col-sm-10 position central more-margin overflow-auto bg-white text-center">
    <h2 class="col-xs-12">The Programme</h2>
    <p class="col-xs-12 col-sm-10 col-md-9 col-lg-7 position central">Taking your own app idea, we go through each of the topics below. After each section has been explained, you get stuck in, applying what you've just learnt!</p>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="/images/icons/about.png" class="icon">
      <h3>1. About UX</h3>
      <p>Starting from the beginning, we dive into what UX is and what it is not. We discuss how the discipline overlaps with psychology, design, research and development</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="/images/icons/persona.png" class="icon">
      <h3>2. Personas</h3>
      <p>We create personas, to understand who we're building the app for. Understand their background and demographics, building empathy for our user</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="/images/icons/empathy.png" class="icon">
      <h3>3. Empathy Maps</h3>
      <p>Immerse yourself into the situation of our persona, we create an empathy map. Looking at where our user is on the app, what they're hearing, seeing and feeling at the time</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="/images/icons/journey.png" class="icon">
      <h3>4. User Journeys</h3>
      <p>Taking a situation from the empathy map, we create a user journey timeline. Here we work out how our persona would achieve one of their goals using our app</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="/images/icons/sketch.PNG" class="icon">
      <h3>5. Prototyping</h3>
      <p>Moving onto prototyping! We turn our user journey timelines into sketches. Using the POP app we turn the sketches into a prototype on our phones, ready for testing</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="/images/icons/quote.png" class="icon">
      <h3>6. User Testing</h3>
      <p>At the end of the day we rotate groups. Then you have the opportunity to interview and observe another human use your app idea.</p>
    </div>
  </div>
</div>
