<div id="material" class="col-xs-12 bg-white add-padding vertical no-float overflow-auto">
  <div class="col-xs-12 bg-white text-center no-padding no-margin">
    <h2 class="col-xs-12 add-margin top">Agenda</h2>
    <p class="col-xs-12 col-sm-10 col-lg-6 position central">Taking your own app idea, we go through each of the topics below. After each section has been explained, you get stuck in, applying what you've just learnt!</p>
    <div class="container">
      <div class="row add-margin bottom">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="/images/icons/about.png" class="icon">
          <h3>About UX</h3>
          <p>Discover what user experience is and what it's not, plus how the discipline overlaps with psychology, design, research and development</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="/images/icons/persona.png" class="icon">
          <h3>Personas</h3>
          <p>We create personas to understand who we're building the app for. Their background and demographics, building empathy for our user</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="/images/icons/empathy.png" class="icon">
          <h3>Empathy Maps</h3>
          <p>Next using empathy maps, we look at where our user is on the app and what they're hearing, seeing and feeling at the time</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="/images/icons/journey.png" class="icon">
          <h3>User Journeys</h3>
          <p>Taking a situation from the empathy map we work out how our persona would achieve one of their goals using our app</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="/images/icons/sketch.PNG" class="icon">
          <h3>Prototyping</h3>
          <p>Then we turn our user journey timelines into sketches. Using the POP app we turn the sketches into a prototype on our phones, ready for testing</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="/images/icons/quote.png" class="icon">
          <h3>User Testing</h3>
          <p>Finally you have the opportunity to interview and observe another human use your app idea, by rotating groups</p>
        </div>
      </div>
    </div>
  </div>
</div>
