<div class="col-xs-12 bg-white add-padding vertical no-float">
  <div class="col-xs-12 col-sm-10 position central more-margin overflow-auto bg-white">
    <h2 id="sponsors" class="text-center">Sponsors</h2>
    <p class="text-center add-margin bottom">Huge thank you to all our sponsors for the July 2017 class!</p>

    <div class="row add-margin top">
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <a href="https://www.jessicalovegood.co.uk/"><img src="/images/logos/jess-lovegood.png" alt="Jessica Lovegood Consulting logo" class="responsive-img medium"></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <a href="http://rosenfeldmedia.com/"><img src="/images/logos/rosenfeld.gif" alt="Rosenfeld Media logo" class="responsive-img medium"></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <a href="http://rma-consulting.com/"><img src="/images/logos/rma-logo.png" alt="RMA Consulting logo" class="responsive-img small"></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <a href="https://table.digital/"><img src="/images/logos/table-digital.jpg" alt="Table Digital logo" class="responsive-img x-small add-margin bottom"></a>
      </div>
    </div>
    <div class="row add-margin top">
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <a href="https://www.redeye.com/"><img src="/images/logos/redeye.PNG" alt="Red Eye logo" class="responsive-img small"></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <a href="http://www.worldpay.com/uk"><img src="/images/logos/worldpay.png" alt="World Pay logo" class="responsive-img medium"></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <a href="https://www.thoughtworks.com/"><img src="/images/logos/thoughtworks.png" alt="Thought Works logo" class="responsive-img medium"></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <a href="https://www.whatusersdo.com/"><img src="/images/logos/whatusersdo.png" alt="What Users Do logo" class="responsive-img medium"></a>
      </div>
    </div>
  </div>
</div>
