<div class="banner">
  <div class="banner-img" style="background-image: url('{{ page.image }}')"></div>
  <div class="col-xs-12 col-sm-11 col-md-9 col-lg-7 position central text-center">
    <div class="post-banner-text">
      <h1>{{ page.header }}</h1>
      <p>{{ page.description }}
      <ul class="ux-nav no-margin add-padding top">
        <li><a href="#about-master">About</a></li>
        <li><a href="#material">Material</a></li>
        <li><a href="#volunteer">Volunteer</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#photos">Gallery</a></li>
        <li><a href="#contact-me">Contact</a></li>
        <li><a href="#faq">FAQs</a></li>
     </ul>
    </div>
  </div>
</div>
