<div id="volunteer" class="parallax">
	<section class="slide">
		<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 no-padding">
			<h2>Calling all volunteers!</h2>
      <p>This day is not complete without experiences from other professionals. Volunteers float around the room, mentoring each table.</p>
			<p class="add-margin bottom">You will play devil's advocate for each team, challenging design decisions and encouraging them to think outside the box.</p>
      <h3>Why volunteer</h3>
      <p>Teaching others is a huge reward. You will meet new people, share your stories and influence those looking to get into tech.</p>
      <a href="/contact.html" class="btn">Get in touch to volunteer!</a>
		</div>
	</section>
</div>
