<div id="volunteer" class="parallax">
	<section class="slide">
		<div class="col-xs-12 col-sm-5 col-md-offset-1 no-padding">
			<h2>Calling all volunteers</h2>
      <p class="add-margin bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
      <h3>Why volunteer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="/contact.html" class="btn">Get in touch to volunteer!</a>
		</div>
	</section>
</div>
