<div class="col-xs-12 bg-light-gray add-padding vertical no-float">
  <div class="col-xs-12 col-sm-9 col-md-8 position central more-margin overflow-auto">
    <div class="col-xs-12 col-sm-7 col-md-6 no-padding">
      <h2 id="volunteer">Calling all volunteers!</h2>
      <p class="add-margin bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
      <h3>Why volunteer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="/" class="btn">Get in touch to volunteer!</a>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6 no-padding">
      <img src="/images/ux-master/volunteer.jpg" class="responsive-img" alt="A volunteer bending down at a table of students, helping them with their project">
    </div>
  </div>
</div>
