<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-lg-6 position central">
        <div class="col-xs-12 col-sm-6 position left">
          <h4>Site Map</h4>
          <ul class="site-map">
            <li><a href="/">Blog posts</a></li>
            <li><a href="/portfolio.html">Portfolio</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 position right">
          <h4>Get in touch!</h4>
          <ul>
            <li><a href="//twitter.com/EChesters"><i class="fa fa-twitter-square"></i>   EChesters</a></li>
            <li><a href="//uk.linkedin.com/in/elizabeth-chesters-a9297883"><i class="fa fa-linkedin-square"></i>   Linked In</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>