<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 position central">
        <div class="position left">
          <h4>Get in touch!</h4>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-8 position right">
          <ul>
            <li><a href="//twitter.com/EChesters"><i class="fa fa-twitter-square"></i>   EChesters</a></li>
            <li><a href="//uk.linkedin.com/in/elizabeth-chesters-a9297883"><i class="fa fa-linkedin-square"></i>   Linked In</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>