<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-lg-6 position central">
        <div class="col-xs-5 col-sm-6">
          <h4>Site Map</h4>
          <ul>
            <li><a href="/">Blog posts</a></li>
            <li><a href="/portfolio.html">Portfolio</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-xs-7 col-sm-6">
          <h4>Connect With Me</h4>
          <ul>
            <li><a href="//twitter.com/EChesters"><i class="fa fa-twitter-square" aria-hidden="true"></i>   EChesters</a></li>
            <li><a href="//uk.linkedin.com/in/elizabeth-chesters-a9297883"><i class="fa fa-linkedin-square" aria-hidden="true"></i>   Linked In</a></li>
            <li><a href="https://medium.com/@EChesters/"><i class="fa fa-medium" aria-hidden="true"></i>   Medium</a></li>
            <li><a href="https://github.com/EChesters/"><i class="fa fa-github-square" aria-hidden="true"></i>   Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 copyright text-center">
        <p>© 2016 Elizabeth Chesters</p>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/js/analytics.js"></script>
