<nav class="navbar navbar-default no-margin" role="navigation">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle remove-margin top">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a href="/" class="site-title navbar-brand">EChesters</a>
  </div>

  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav add-margin left">
      <li><a href="/#blog">Blog</a></li>
      <li><a href="/portfolio.html">Portfolio</a></li>
      <li><a href="/photography.html">Photography</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/pages/contact.html">Contact</a></li>
    </ul>

  <div class="nav navbar-nav navbar-right no-margin social-media hidden-xs">
    <ul>
      <li><a href="//twitter.com/EChesters"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li>
      <li><a href="//uk.linkedin.com/in/elizabeth-chesters-a9297883"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">Linked In</span></a></li>
      <li><a href="//medium.com/@EChesters/"><i class="fa fa-medium" aria-hidden="true"></i><span class="sr-only">Medium</span></a></li>
      <li><a href="//github.com/EChesters/"><i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">Github</span></a></li>
    </ul>
  </div>
</nav>