<div class="col-xs-12 entry photography">
  <div class="col-xs-12 position central">
    <h1>Photography</h1>
  </div>

  <div id="italy" class="col-xs-12 position central">
    <h3 class="country">Portugal</h3>

    <div class="position central photographs">
      <div class="col-xs-12 col-md-4 img-container photo no-padding">
        <img src="images/photos/portugal-2.jpg" alt="The South of Portugal's hills">
      </div>

      <div class="col-xs-12 col-md-4 img-container photo">
        <img src="images/photos/portugal-1.jpg" alt="Landscape of Portugal's castle and hills">
      </div>

      <div class="col-xs-12 col-md-4 img-container photo">
        <img src="images/photos/portugal-3.jpg" alt="River and boat in Portugal">
      </div>
    </div>
  </div>

  <div id="italy" class="col-xs-12 position central">
    <h3 class="country">Italy</h3>

    <div class="position central photographs">
      <div class="col-xs-12 col-md-4 img-container photo no-padding">
        <img src="images/photos/italy-2.jpg" alt="Florence duomo at night">
      </div>

      <div class="col-xs-12 col-md-4 img-container photo">
        <img src="images/photos/italy-4.jpg" alt="Florence duomo during the day">
      </div>

      <div class="col-xs-12 col-md-4 img-container photo">
        <img src="images/photos/italy-3.jpg" alt="Florence duomo during the day">
      </div>
    </div>
  </div>

  <div id="richmond" class="col-xs-12 position central">
    <h3 class="country">Richmond</h3>

    <div class="position central photographs">
      <div class="col-xs-12 col-md-4 img-container photo no-padding">
        <img src="images/photos/richmond-2.jpg" alt="A baby deer lying down amongst its family's legs">
      </div>

      <div class="col-xs-12 col-md-4 img-container photo">
        <img src="images/photos/richmond-1.jpg" alt="Majestic male deer looking over his shoulder at the camera">
      </div>

      <div class="col-xs-12 col-md-4 img-container photo">
        <img src="images/photos/richmond-4.jpg" alt="Male deer lying down with a black bird on its back">
      </div>
    </div>
  </div>

  <div id="india" class="col-xs-12 position central">
    <h3 class="country">India</h3>

    <div class="position central photographs">
      <div class="col-xs-12 col-md-4 img-container photo no-padding">
        <img src="images/photos/india-1.jpg" alt="The walkway to the mosque in the sea, Mumbai">
      </div>

      <div class="col-xs-12 col-md-4 img-container photo">
        <img src="images/photos/india-2.jpg" alt="A group of Indians sat in a circle playing instruments for the Ganesha festival">
      </div>

      <div class="col-xs-12 col-md-4 img-container photo">
        <img src="images/photos/india-3.jpg" alt="Row boat in the sea next to Elephant Island">
      </div>
    </div>
  </div>
</div>