<div id="ux" class="grid">
  <div class="col-xs-12 col-md-9 position central">
    <div class="col-xs-12 col-md-4 more-margin">
      <figure class="effect-milo">
        <a href="/pages/thoughtworks.html">
          <img src="images/portfolio/tw/madferit.jpg" alt="Elizabeth stood with TechVision, a blind school in Pune, India">
          <figcaption>
          <h2>ThoughtWorks</h2>
          <p>UX accessibility review for the thoughtworks.com team.</p>
          </figcaption>
        </a>
      </figure>
    </div>
    <div class="col-xs-12 col-md-4 more-margin">
      <figure class="effect-milo">
        <a href="/pages/a-world-at-school.html">
          <img src="images/portfolio/case.jpg" alt="Screenshot of the A World at School home page">
          <figcaption>
          <h2>A World at School</h2>
          <p>Campaigning for the right of education for children.</p>
          </figcaption>
        </a>
      </figure>
    </div>
    <div class="col-xs-12 col-md-4 more-margin">
      <figure class="effect-milo">
        <a href="/pages/women-hack-for-non-profits.html">
          <img src="images/portfolio/whfnp/whfnp-7.jpg" alt="Screenshot of the women hack for non-profits home page">
          <figcaption>
            <h2>Women Hack for Non-Profits</h2>
            <p>Getting women involved in open source and tech.</p>
          </figcaption>
        </a>
      </figure>
    </div>
  </div>
</div>