<div id="speaking" class="col-xs-12">
  <h1>Speaking</h1>
  <p class="col-xs-12 col-sm-9 col-lg-7 position central text-center">If there's anything I can do, it's talking! I have spoken at many places such as Manchester and London Java Communities, Manchester Metropolitan University, Ladies that UX, as well as internal lunch and learns at work.</p>
  <div class="col-xs-12 col-md-3 position central text-center">
    <a class="btn portfolio" href="pages/speaking.html">Watch my talks</a>
  </div>
</div>