.banner {
	background: url('../images/post-header.jpg');
	background-size: cover;
	height: 500px;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;

	h2 {
		@include vertical-align(50%);
		display: block;
		font-size: 3em;
		font-family: $base-display-font;
	}

	&.thoughtworks {
		background: url('../images/portfolio/tw/madferit.jpg');
	}

	&.awas {
		background: url('../images/portfolio/awas/awas-1.png');

		&:before {
			width: 100%;
    		height: 100%;
    		position: absolute;
    		z-index: -1;
    		top: 0;
    		left: 0;
    		background: rgba(0,0,0, 0.4);
    		content: '';
		}
	}
}