.banner {
  width: 100vh;
  max-height: 100vh;
  overflow: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  .banner-img img {
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;

    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    transform-style: preserve-3d;
  }
}