.banner {
  padding-top: calc(#{$nav-bar-height} * 1.5);
  min-height: 475px;
  height: auto;
  overflow: hidden;

  @include media-query($on-palm) {
    padding-top: calc(#{$nav-bar-height});
    min-height: 300px;
  }

  .banner-img {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: top center;
    height: calc(#{$nav-bar-height} + 525px);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .9;
      height: calc(#{$nav-bar-height} + 525px);
      background-size: cover;
      width: 100%;
      @include background-gradient-direction(right, rgba($banner-grad-2, .9), rgba($banner-grad-1, .9));
    }
  }

  .banner-photography {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: top center;
    background-color: $actual-black;
  }

  .banner-text {
    position: relative;
    color: $brand-darker;

    h1 {
      text-transform: none;
    }

    p {
      font-size: $logo-size;
    }
  }
}

.small-banner {
  min-height: 300px !important;
  background-color: $actual-black;
}

.post-banner-text {
  @extend .banner-text;

  h1 {
    font-size: $h1-size !important;
    color: $black;
  }
}
