.btn {
  color: $grey-color;
  padding: calc( #{$spacing-unit} / 2) $spacing-unit;
  border: 1px solid darken($brand-secondary, 5%);
  @include background-gradient($brand-secondary, darken($brand-secondary, 5%));
  display: inline-block;
  text-shadow: none;
  font-size: 1.1em;
  margin-bottom: $spacing-unit;
  text-decoration: none;
  border-radius: 2px;

  &:hover {
    @include background-gradient(darken($brand-secondary, 5%), $brand-secondary);
    text-decoration: underline;
    color: $grey-color;
  }

  &:visited {
    color: $grey-color;
  }

  &.white {
    color: $brand-color;
    border-color: $grey-color-light;

    &:hover {
      background-color: $grey-color-light;
    }
  }

  &.portfolio {
    width: 300px;
    color: $black;
    border-color: $black;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    @include background-gradient(darken($brand-secondary, 5%), $brand-secondary);
    box-shadow: 0 2px darken($brand-secondary, 20%);
    transform: translateY(2px);
    color: $grey-color;
  }
}

a.link {
  text-decoration: none;
  border-bottom: $border;
  border-color: $grey-color-light;
  font-weight: $weight-light;
  font-size: 1.25em;
  color: $brand-secondary;

  @media screen and (max-width: 1024px) {
    display: inline-block;
    margin-bottom: $spacing-unit;
  }

  &:hover {
    border-bottom: $border;
    border-color: $brand-color;
    color: $brand-color;
  }
}

.scroll-btn {
  padding-top: calc(#{$spacing-unit} * 3);
  opacity: 0.5;

  img {
    height: 50px;
  }
}
