.green {
	background: $portuguese-green;
	color: $white;
}

/* BG COLOURS */
.bg-light-gray {
  background-color: #f7f7f7;
	@extend .bg-pos;
}

.bg-subfooter {
	background-color: lighten($footer-bg, 5%);
	color: $footer-text;
	@extend .bg-pos;
}

.bg-white {
  background-color: $actual-white;
	@extend .bg-pos;
}

.bg-brand-3 {
	background-color: $banner-grad-1;
}

.bg-offset-white {
	background-color: $white;
	@extend .bg-pos;
}

// For backgrounds only
.bg-pos {
	position: relative;
}

// text-colors
.text-white {
	color: $actual-white !important;
}
