$slide-height: 85vh;

#contact {
  min-height: 100vh;

  .image-container {
    height: 100vh;
  }

  .description {
    margin-top: calc( #{$spacing-unit} * 3);
  }
}

#home, #about {
  min-height: $slide-height;

  .image-container {
    height: $slide-height;
    @media only screen and (max-width: 1330px) {
      height: 40vh;
    }
  }

  .description {
    margin-top: calc( #{$spacing-unit} * 3);
    @media only screen and (max-width: 1330px) {
      margin-top: $spacing-unit;
    }
  }
}

#portfolio {
  min-height: 70vh;

  .image-container {
    height: 70vh;
  }

  .description {
    margin-top: calc( #{$spacing-unit} * 3);
  }
}

h1.hello-title {
  font-size: 2.9em;
}

.half-slide {
  overflow: auto;

  @media only screen and (max-width: 1330px) {
    margin-bottom: $spacing-unit;
  }

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    @media only screen and (max-width: 1330px) {
      height: 50vh;
      position: static;
    }
  }

  .description {
    margin-top: calc( #{$spacing-unit} * 1.5);

    @media only screen and (max-width: 1330px) {
      margin-top: $spacing-unit;
    }
  }
}
