#contact {
  min-height: 95vh;

  .image-container {
    height: 95vh;
  }
}

#about {
  min-height: 90vh;

  .image-container {
    height: 90vh;
  }
}

#home {
  min-height: 65vh;

  .image-container {
    height: 65vh;
  }

  .description {
    margin-top: calc( #{$spacing-unit} * 3);
  }
}

.half-slide {
  overflow: auto;

  @media only screen and (max-width: 1330px) {
    margin-bottom: $spacing-unit;
  }

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    @media only screen and (max-width: 1330px) {
      height: 50vh;
      position: static;
    }
  }

  .description {
    margin-top: calc( #{$spacing-unit} * 6);

    @media only screen and (max-width: 1330px) {
      margin-top: $spacing-unit;
    }
  }
}
