$footer-text:			#86a784;
$brand-darker:			#9a1134;

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-bg;
  overflow: hidden;
}

footer {

	h4 {
		font-family: $base-display-font;
		font-size: 2em;
		display: inline-block;
		@include vertical-align(-25%);
		color: $brand-darker;
		margin-bottom: 0;
	}

	ul {
		list-style: none;
		@include vertical-align(-35%);

		li a {
			color: #fff;

			&:visited {
				color: #fff;
			}

			&:hover {
				color: $brand-darker;
				text-decoration: underline;
			}
		}
	}
}

ul.site-map {
	margin-left: 0;
}