$footer-text:			#86a784;
$brand-darker:			#9a1134;

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-bg;
  overflow: hidden;
  text-align: left;
}

footer {
	border-top: solid 2px darken($footer-bg, 1%);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

	h4 {
		font-family: $base-display-font;
		font-size: 2em;
		display: inline-block;
		color: $grey-color;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: $base-font-size;
		letter-spacing: 5px;
		margin-top: 45px;
	}

	ul {
		margin-left: 0;
		margin-bottom: 0;
		list-style: none;

		li a {
			color: $grey-color-light;
			font-size: $small-font;
			text-decoration: none;

			&:visited {
				color: $grey-color-light;
			}

			&:hover {
				color: $brand-secondary;
			}
		}
	}

	p {
		color: $grey-color-light;
		font-size: $small-font;
		display: inline-block;
		margin: 0;
	}

	.copyright {
		margin: $spacing-unit 0;

		img {
			height: 30px;
			margin: 0;
			position: absolute;
			left: 50%;
		}
	}
}