img {
  height: auto;
  width: auto;

  &.rounded {
    @include border-radius(10px);
  }

  &.landscape {
    width: 90%;
  }

  &.portrait {
    height: 450px;
  }

  &.small {
    width: 40%;
    @media screen and (max-width: 1024px) {
      width: 70%;
    }
  }

  &.medium {
    width: 65%;
  }

  &.large {
    width: 90%;
  }
}

.images {
  text-align: center;
  display: block;
  overflow: auto;

  img {
    // float: none;
  }

  img.two {
    display: inline-block;
    width: 49%;

    &.left { float: left; }
    &.right { float: right; }
  }

  .same-height {
    height: 250px;
    width: auto;
  }

  .box {
    height: 250px;
    width: 350px;
  }
}

.title-img {
  img {
    position: relative;
  }

  p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#portfolio iframe {
  margin-bottom: $spacing-unit;
}

img.client {
  max-height: 125px;
}
.video {
  width: 80%;
  margin-bottom: calc( #{$spacing-unit} * 2);

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

figure {
  margin-bottom: calc( #{$spacing-unit} * 1.5);
  text-align: center;
}