ul {
  &.skills {
    color: $brand-darker;
    margin-left: 0;

    li {
      display: inline-block;
      list-style: none;
      padding: 10px 15px;
      border: $brand-darker 2px solid;
    }
  }

  &.no-bullets {
    margin-bottom: $spacing-unit;

    li {
      list-style-type: none;
    }
  }
}

ul.ux-nav {
  margin: 0;

  li {
    display: inline-block;
    list-style: none;
    padding: 15px 30px;

    @media only screen and (max-width: 768px) {
      padding: 15px 20px;
    }

    a {
      color: $actual-white;

      &:hover {
        color: $brand-secondary;
      }
    }
  }
}

.talk {
  border: $border;
  border-color: $black;
  margin: $spacing-unit 5px;
  padding: $spacing-unit;
  background-color: $actual-white;
}

.teaching {
  padding: calc(#{$spacing-unit} * 3) 0;
  border-bottom: $border;
  border-color: $black;

  &:last-of-type {
    border: none;
    padding-bottom: 0;
  }

  &:first-of-type {
    padding-top: 0;
  }

  p {
    line-height: 2em;
  }
}
