@import '_vars';
@import '_mixins';

nav {
	z-index: 100;

	.site-title {
		letter-spacing: 5px;
		border: $border;
		height: auto;
		margin: 5px 0;
		text-transform: uppercase;

		&.navbar-brand {
			color: $actual-white;
		}

		a { 
			&:hover {
				text-decoration: none;
				color: $actual-white;
			}

			&:visited {
				color: $actual-white;
			}
		}
	}

	a {
		padding: 15px 30px;
		transition: box-shadow 0.3s;
		position: relative;
  		color: $nav-text;
  		text-decoration: none;
  		font-weight: 300;
		text-shadow: $txt-shadow;

		&:before {
		  content: "";
		  position: absolute;
		  width: 100%;
		  height: 3px;
		  bottom: 0;
		  left: 0;
		  background-color: $brand-color;
		  visibility: hidden;
		  -webkit-transform: scaleX(0);
		  transform: scaleX(0);
		  -webkit-transition: all 0.3s ease-in-out 0s;
		  transition: all 0.3s ease-in-out 0s;
		}

		&:hover {
			color: $nav-hover;

			&:before{
			  	visibility: visible;
  				-webkit-transform: scaleX(1);
  				transform: scaleX(1);
  			}
		}
	}
}

ul.nav {
	@include vertical-align(-25%);
}

.navbar, .navbar-default {
	@include border-radius(0);
	border: none;
	background: transparent;
	margin-bottom: 0;

	@media only screen and (min-width: 320px) and (max-width: 1200px) {
	  	width: 100%;
	}
}

.navbar-default, .navbar-default .navbar-form {
	background: $black;
}

.navbar-default .navbar-brand:hover {
	color: $white;
}

.navbar-default .navbar-nav>li>a {
	color: $nav-text;

	&:hover {
		color: $nav-text;
	}
}

.side-title {
	font-family: $logo-font-light;
	font-size: $logo-size;
}
