@import '_vars';
@import '_mixins';

nav {
  z-index: 100;
  height: $nav-bar-height;
  @include box-shadow(0,0,5px,0, rgba($grey-color-light, 0.3));

  @media (max-width: 768px) {
    height: calc( #{$nav-bar-height} / 3);
  }

  .site-title-container {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    text-align: center;
    float: none;
    
    @media (max-width: 768px) {
      margin: 13px 0 0 0;
      text-align: left;
    }
  }

  .site-title {
    letter-spacing: 5px;
    border: $border;
    border-color: $brand-color;
    height: auto;
    text-transform: uppercase;

    @media (max-width: 768px) {
      margin-left: 5px;
    }

    &.navbar-brand {
      color: $brand-color;
      padding: 5px 5px 5px 10px;
      float: initial;
      margin-top: calc( #{$spacing-unit}/2);

      &:focus {
        color: $brand-secondary;
      }
    }

    a { 
      &:hover {
        text-decoration: none;
        color: $brand-secondary;
      }

      &:visited {
        color: $brand-color;
      }
    }
  }

  a {
    transition: box-shadow 0.3s;
    position: relative;
    color: $nav-text;
    text-decoration: none;
    font-weight: $weight-light;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: $brand-secondary;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover {
      color: $brand-secondary;

      &:before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
}

ul .navbar .navbar-nav {
  text-align: center;
  @media (max-width: 768px) {
    margin-top: $spacing-unit;
  }
}

.navbar, .navbar-default {
  @include border-radius(0);
  border: none;
  background: transparent;
  margin-bottom: 0;

  @media only screen and (min-width: 320px) and (max-width: 1200px) {
      width: 100%;
  }
}

.navbar-default, .navbar-default .navbar-form {
  background: $nav-bar;
}

.navbar-default .navbar-nav>li>a {
  color: $nav-text;

  &:hover {
    color: $nav-text;
  }
}

.side-title {
  font-family: $logo-font-light;
  font-size: $logo-size;
}

.navbar-default .navbar-collapse {
  @media(max-width:767px){
    overflow: visible;

    &.in {
      background: $white;
      padding-bottom: $spacing-unit;
    }

    &.nav > li {
      padding: $spacing-unit 0;
    }
  }
}

.navbar-collapse {
  text-align:center;
}

.navbar-nav {
  float: none;
  @media (max-width: 768px) {
    margin-top: calc( #{$spacing-unit} * 2);
  }
}

.navbar-header {
  @media only screen and (min-width: 320px) and (max-width: 1200px) {
    position: absolute;
  }
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

#social-media {
  ul {
    margin: calc( #{$spacing-unit}/6);
    margin-right: calc(#{$spacing-unit}/3);
    list-style: none;
    font-size: $logo-size;

    li {
      display: inline-block;

      a {
        color: $grey-color-light;
        margin: 0 calc( #{$spacing-unit} /2 );
      }
    }
  }
}
