@import '_vars';
@import '_mixins';

nav {
	z-index: 100;

	.site-title {
		font-family: $logo-font;
		
		&.navbar-brand {
			color: #fff;
		}

		a { 
			&:hover {
				text-decoration: none;
			}

			&:visited {
				color: #FFF;
			}
		}
	}

	a {
		padding: 15px 30px;
		transition: box-shadow 0.3s;
		position: relative;
  		color: #fff;
  		text-decoration: none;

		&:before {
		  content: "";
		  position: absolute;
		  width: 100%;
		  height: 3px;
		  bottom: 0;
		  left: 0;
		  background-color: $brand-color;
		  visibility: hidden;
		  -webkit-transform: scaleX(0);
		  transform: scaleX(0);
		  -webkit-transition: all 0.3s ease-in-out 0s;
		  transition: all 0.3s ease-in-out 0s;
		}

		&:hover {
			color: #fff;

			&:before{
			  	visibility: visible;
  				-webkit-transform: scaleX(1);
  				transform: scaleX(1);
  			}
		}
	}
}

.navbar, .navbar-default {
	@include border-radius(0);
	border: none;
	background-color: #000;
	margin-bottom: 0;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;

	&:hover {
		color: #fff;
	}
}

// ---
.side-nav nav {
	position: fixed;
	background-color: $background-color;
	border-right: 1px solid $black;

	.site-title {
		font-family: $logo-font;
		text-align: center;
		font-size: 2em;
		color: $black;
	}

	&.navbar-default .navbar-nav>li>a {
		color: $grey-color;
	}

	&.navbar-default .navbar-brand:hover {
		color: $black;
	}
}
