#photographs {
	padding: calc(#{$spacing-unit} * 2) 0;
	background-color: $footer-bg;

	img {
		margin: 0;
		cursor: auto;
	}
}

#my-photographs {
	padding: calc(#{$spacing-unit} * 2) 0;
	background-color: $footer-bg;

	h2 {
		color: $actual-white;
	}
}

.box {
	&.left {
		padding-right: 15px;
		padding-left: 0;
	}

	&.centre {
		padding: 0 15px;
	}

	&.right {
		padding-left: 15px;
		padding-right: 0;
	}
}