.posts {
  display: flex;
  flex-wrap: wrap;
}

.post {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;

  .post-container {
    margin: 5px;
    padding: 0;
    border: 1px solid $grey-color-light;
    border: $border;
    border-color: $black;
  }

  img {
    margin: 0;
    width: 100%;
  }

  h3 {
    &:hover {
      text-decoration: underline;
    }
  }

  a {
    color: $black;
    
    .post-description {
      font-size: $base-font-size;
      color: $grey-color;
    }

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $black;
    }
  }

  .post-info {
    padding: 30px;
  }
}

/* TEXT */
.portfolio-title {
  letter-spacing: $additional-spacing;
  text-transform: uppercase;
}

.post-content {
    margin: $spacing-unit 0 calc(#{$spacing-unit} * 2);
    padding: 0 30px;
}