.posts {
	display: flex;
	flex-wrap: wrap;
}

.post {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;

	.post-container {
		margin: 5px;
		padding: 0;
		border: 1px solid $grey-color-light;
		@include border-radius(5px);
	}

	img {
		margin: 0;

	}

	h3 {
		color: $brand-color;

		&:hover {
			text-decoration: underline;
		}
	}

	a {
		color: $black;
		
		.post-description {
			font-size: $base-font-size;
			color: $grey-color;
		}

		&:hover {
			text-decoration: none;
		}

		&:visited {
			color: $black;
		}
	}

	.post-info {
		padding: 10px;
	}
}