strong {
  font-weight: 700;
}

.emphasis {
  font-style: italic;
}

.subtitles {
  text-align: center;
  line-height: 1.2em;
  font-size: 1.2em;
}

.previous, .next {
  padding: 0 10px;

  &:hover {
    color: $brand-secondary;
  }
}

.date {
  font-size: $small-font;
  color: $grey-color;
  text-align: right;
  font-family: $logo-font-light;
  text-transform: uppercase;
  margin-top: calc( #{$spacing-unit} / 2);
}

.index-title {
  font-family: $logo-font;
  text-align: center;
  font-size: 60px;
  margin: calc( #{$spacing-unit} * 4) 0 calc( #{$spacing-unit} * 2);
}

.bio {
  margin-bottom: 60px;
}

.emphasise {
    color: $brand-secondary;
    font-size: 25px;
    font-weight: 100;
}

.sidenote {
    color: $grey-color-light;
    font-style: italic;
    text-align: center;
    font-size: .85em;
}

.summary {
    font-size: 1.2em;
    font-weight: $weight-heavy;
    text-align: center;
    margin-bottom: calc(#{$spacing-unit} *2 );
}

h2, h3, h4 {
  margin-top: calc( #{$spacing-unit} * 1.5);

  &.light {
    color: $actual-white;
  }
}

h1 {
  font-size: 40px;
}

h2 {
    font-size: 36px;
    color: $header;
    font-family: $logo-font;

    @include media-query($on-laptop) {
        font-size: 32px;
    }
}

h3 {
    font-size: 24px;
    color: $header;
    font-family: $logo-font;
    @include media-query($on-laptop) {
        font-size: 28px;
    }
}

h4 {
    font-size: 22px;
    font-family: $logo-font-light;
    color: $grey-color;

    @include media-query($on-laptop) {
        font-size: 20px;
    }
}

p {
  margin-bottom: calc( #{$spacing-unit} / 2);
  line-height: 2em;
}

.exp-dates {
  display: inline;
}