strong {
	font-weight: 700;
}

.emphasis {
	font-style: italic;
}

.subtitles {
	text-align: center;
	line-height: 1.2em;
	font-size: 1.2em;
}

.previous, .next {
	padding: 0 10px;

	// a {
		&:hover {
			color: $brand-secondary;
		}
	// }
}