strong {
  font-weight: 700;
}

.emphasis {
  font-style: italic;
}

.subtitles {
  text-align: center;
  line-height: 1.2em;
  font-size: 1.2em;
}

.previous, .next {
  padding: 0 10px;

  &:hover {
    color: $brand-secondary;
  }
}

.index-title {
  font-family: $logo-font;
  text-align: center;
  font-size: 60px;
}

.emphasise {
    color: $brand-color;
    font-size: 25px;
    font-weight: 100;
}

.sidenote {
    color: $lighter-grey;
    font-style: italic;
    text-align: center;
    font-size: .85em;
}

.banner-title {
  z-index: 100;
  @include vertical-align(-75%);
  display: block;
  font-size: 4.5em;
  font-family: $logo-font;
  text-align: center;
  color: $white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.portfolio-title {
  font-size: 3em;
  @extend .banner-title;
  @include vertical-align(50%);
  font-family: $base-font-family;
}