@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat:200|Source+Sans+Pro:300,400,700&subset=latin-ext');

/* COLOURS ----------- */
$white:                       #F4F4F4;
$actual-white:                #fff;
$black:                       #2A363B;
$actual-black:                #000;

$nav-bar:                     $actual-white;
$nav-text:                    $actual-black;

$brand-color:                 #ef473a;
$brand-secondary:             #cb2d3e;
$brand-darker:                darken($brand-color, 15%);

$banner-grad-1:               #2f022c;
$banner-grad-2:               #064349;

$code-club-green:             #2d9632;
$codefirst-red:               #de2244;
$accessibility-blue:          #004289;

$portuguese-green:            #00ac00;
$footer-text:			            #86a784;

$txt-shadow:                  0px 0px 10px rgba(0, 0, 0, 0.6);
$border:                      2px solid $actual-white;
$box-shadow-grey:             lighten($grey-color-light, 25%);

/* FONTS ------------- */
$base-font-family:            'Source Sans Pro', sans-serif;
$base-display-font:           $base-font-family;
$code-font:                   'Cutive Mono', monospace;
$logo-font:                   'Montserrat', sans-serif;
$logo-font-light:             $base-font-family;
$secondary-font:              $base-font-family;

$font-button:                 1em;
$smaller-font:                0.85em;
$post-title-size:             2em;
$h1-size:                     3.5em;
$logo-size:                   1.3em;

$size-medium:                 22px;
$size-lg:                     2em;

$weight-light:                300;
$weight-medium:               400;
$weight-heavy:                700;

$additional-spacing:          10px;

/* SIZE ------------- */
$nav-bar-height:              63px;
$disclaimer-size:             .85em;
