@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Cutive+Mono|Source+Sans+Pro:300,400,600&subset=latin-ext');

/* COLOURS ----------- */
$white: 				#F4F4F4;
$actual-white:			#fff;
$black: 				#2A363B;
$actual-black:			#000;

$nav-bar:               #004853;
$nav-text:				$actual-white;
$nav-hover:				#C7EDE8;

$brand-color:      		#007E80;
$brand-secondary:       #AD0736;

$code-club-green:		#2d9632;
$codefirst-red:			#de2244;
$accessibility-blue:	#004289;

$portuguese-green:		#00ac00;

$txt-shadow:			0px 0px 10px rgba(0, 0, 0, 0.6);
$border:				2px solid $actual-white;

/* FONTS ------------- */
$base-font-family: 		'Lato', sans-serif;
$base-display-font: 	$base-font-family;
$code-font:				'Cutive Mono', monospace;
$logo-font:				'Source Sans Pro', sans-serif;
$logo-font-light:		'Source Sans Pro', sans-serif;
$secondary-font:		$logo-font;

$font-button: 			1em;
$smaller-font:			0.85em;
$post-title-size:		2em;
$h1-size:				4em;
$logo-size:				1.3em;

$weight-light:		    300;
$weight-medium:	        400;
$weight-heavy:		    600;

$additional-spacing:	10px;

/* SIZE ------------- */
$nav-bar-height:		50px;
$disclaimer-size:		.85em;