<div id="clients" class="col-xs-12 col-md-8 position central">
  <ul class="clients text-center">
    <li><img src="/images/portfolio/clients/eh.jpg" alt="EmpowerHack logo"></li>
    <li><img src="/images/portfolio/clients/tw.jpg" alt="thoughtworks logo" class="small"></li>
    <li><img src="/images/portfolio/clients/awas.jpg" alt="A World At School logo"></li>
    <li><img src="/images/portfolio/clients/halfords.jpg" alt="Halford Autocentre logo" class="large"></li>
    <li><img src="/images/portfolio/clients/superbreak.gif" alt="Super Break Autocentre logo" class="large"></li>
    <li class="no-padding"><img src="/images/portfolio/clients/cognia.jpg" alt="Cognia logo"></li>
  </ul>
</div>