<div id="clients" class="bg-white">
  <ul class="clients text-center">
    <li><img src="/images/portfolio/clients/eh.jpg" alt="EmpowerHack logo"></li>
    <li><img src="/images/portfolio/clients/tw.jpg" alt="thoughtworks logo" class="small"></li>
    <li><img src="/images/portfolio/clients/awas.jpg" alt="A World At School logo"></li>
    <li><img src="/images/portfolio/clients/halfords.jpg" alt="Halford Autocentre logo" class="large"></li>
    <li><img src="/images/portfolio/clients/superbreak.gif" alt="Super Break logo" class="large"></li>
    <li><img src="/images/portfolio/clients/quidco.png" alt="Quidco logo" class="large"></li>
  </ul>
</div>
