<div>
  <section class="bg-white">
    <div class="col-xs-12 col-sm-8 position central text-center add-margin bottom">
      <h2>UX Writing</h2>
      <div class="row">
        <p class="col-xs-12 col-sm-8 position central add-margin bottom">I love sharing the research that I do, the things I discover and how my assumptions have been challenged. Not only do I write my own blog, but I write for other tech groups.</p>
      </div>
      <div class="row text-left">
        <div class="col-xs-12 col-sm-4">
          <div class="col-xs-12 col-sm-4">
            <img src="/images/logos/whatusersdo-square.PNG" class="responsive-img" alt="">
          </div>
          <div>
            <h3 class="remove-margin top sr-only">WhatUsersDo</h3>
            <p>Read my post on how to use the DECIDE framework when planning user research.</p>
          </div>
          <div class="col-xs-12 text-center">
            <a class="text-center" href="https://www.userzoom.com/blog/how-to-create-a-ux-research-plan/">Read about the DECIDE framework</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="col-xs-12 col-sm-4">
            <img src="/images/portfolio/designer-hangout-logo.png" class="responsive-img" alt="">
          </div>
          <div>
            <h3 class="remove-margin top sr-only">Designer Hangout</h3>
            <p>Here I released my first article in the Budaya series, sharing a brief outline of how to localise your UX.</p>
          </div>
          <div class="col-xs-12 text-center">
            <a href="https://medium.com/designer-hangout/what-changes-across-cultures-the-budaya-series-d9addd15522">Read about UX and localisation</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="col-xs-12 col-sm-4">
            <img src="/images/portfolio/clients/redeye.png" class="responsive-img add-margin top" alt="">
          </div>
          <div>
            <h3 class="remove-margin top sr-only">RedEye</h3>
            <p>Check out my post about using international research to keep clients ahead of the game.</p>
          </div>
          <div class="col-xs-12 text-center">
            <a href="http://www.redeye.com/insights/blog/2017/january/the-redeye-guide-to-international-retail-what-can-we-learn-from-it/">Read about international research</a>
          </div>
      </div>
    </div>
  </section>
</div>
