<div>
	<section>
		<div class="col-xs-12 col-sm-8 position central text-center">
			<h2>UX Writing</h2>
			<div class="row">
				<p class="col-xs-12 col-sm-8 position central">I love sharing the research that I do, the things I discover and how my assumptions have been challenged. Not only do I write my own blog, but I write for other tech groups.</p>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<img src="/images/portfolio/clients/LTUX.png" class="responsive-img smaller">
					<h3 class="remove-margin top sr-only">Ladies that UX</h3>
					<p>Read my tips and tricks on how to step out of our World Wide Web bubbles, and research out of our comfort zone.</p>
					<a href="http://ladiesthatux.com/our-world-wide-bubbles-tips-and-tricks-of-ux-researching/">Read my Tips and Tricks of UX researching post</a>
				</div>

				<div class="col-xs-12 col-sm-4">
					<img src="/images/portfolio/clients/WHFNP.png" class="responsive-img smaller add-margin top bottom">
					<h3 class="remove-margin top sr-only">Women Hack for Non Profits</h3>
					<p>Here I share my journey of building a UX for refugees with partner organisation EmpowerHack, for the medical app HaBaby.</p>
					<a href="https://blog.womenhackfornonprofits.com/ux-for-change-hababy-6dda9833a86b#.ms9mn3b2v">Read about UX for pregnant refugees</a>
				</div>

				<div class="col-xs-12 col-sm-4">
					<img src="/images/portfolio/clients/redeye.png" class="responsive-img smaller add-margin top bottom">
					<h3 class="remove-margin top sr-only">RedEye</h3>
					<p>I also blog for RedEye's websites. Check out my latest post on keeping our clients ahead of the game, using international research.</p>
					<a href="http://www.redeye.com/insights/blog/2017/january/the-redeye-guide-to-international-retail-what-can-we-learn-from-it/">Read my insights post</a>
				</div>
			</div>
		</div>
	</section>
</div>