<div class="parallax">
  <div id="portfolio-banner" class="slide full-height">
    <div class="intro-text col-xs-12 col-sm-10 position central">
      <div class="intro-lead-in col-xs-12 no-padding-mob"><h1>UX Portfolio</h1></div>
      <div class="intro-heading col-xs-12 col-sm-5 no-padding-mob">
        <p>I am a UX researcher in London. When I'm not pestering users, you'll find me coding. People are at the heart of what I do, so I work closely with them to discover their habits, their stories and issues with technology.</p>

        <p>Specialising in localisation, I've set out to discover how technology can have the biggest impact around the world.</p>
      </div>
    </div>
  </div>
</div>
