<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><h1>UX Portfolio</h1></div>
      <div class="intro-heading col-xs-12 col-sm-7 col-md-6 remove-padding left"><h2>I am Elizabeth Chesters. My passion is UX, from pestering users, to caricature sketches.</h2></div>
      <div class="col-xs-12 no-padding add-margin top">
        <ul class="portfolio-nav no-padding no-margin">
          <li><a href="#about">About me</a></li>
          <li><a href="#current">Current projects</a></li>
          <li><a href="#complete">Complete projects</a></li>
          <li><a href="#highlights">Highlights</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>