<div class="text-center" id="my-photographs">
  <h2>Photography</h2>
  <div id="photographs" class="clearfix grid">
    <div class="images">
      <div class="position central text-center">
        <img src="/images/photos/india-3.jpg" alt="Mosque in the sea, Mumbia, India" class="box no-padding no-margin">
        <img src="/images/photos/italy-4.jpg" alt="Distant view of the Duomo in Florence, Italy" class="box no-padding no-margin">
        <img src="/images/photos/portugal-2.jpg" alt="View from a mountain of the National Palace in Portugal" class="box no-padding no-margin">
        <img src="/images/photos/portugal-3.jpg" alt="Mosque in the sea, Mumbia, India" class="box no-padding no-margin">
      </div>
    </div>
    <div class="images">
      <img src="/images/photos/reenacting-1.jpg" alt="Distant view of the Duomo in Florence, Italy" class="box no-padding no-margin">
      <img src="/images/photos/romania-2.jpg" alt="View from a mountain of the National Palace in Portugal" class="box no-padding no-margin">
      <img src="/images/photos/richmond-3.jpg" alt="Mosque in the sea, Mumbia, India" class="box no-padding no-margin">
      <img src="/images/photos/zoo-1.jpg" alt="Distant view of the Duomo in Florence, Italy" class="box no-padding no-margin">
    </div>
  </div>
  <a href="/photography.html" class="btn">View all photography</a>
</div>
