<div class="text-center" id="my-photographs">
  <h2>Photography</h2>
  <div id="photographs" class="clearfix grid">
    <figure class="wowload fadeInUp animated">
      <img src="/images/photos/india-1.jpg" alt="Mosque in the sea, Mumbia, India">
    </figure>

    <figure class="wowload fadeInUp animated">
      <img src="/images/photos/italy-4.jpg" alt="Distant view of the Duomo in Florence, Italy">
    </figure>

    <figure class="wowload fadeInUp animated">
      <img src="/images/photos/portugal-3.jpg" alt="View from a mountain of the National Palace in Portugal">
    </figure>

    <figure class="wowload fadeInUp animated visible-xs visible-sm">
      <img src="/images/photos/reenacting-2.jpg" alt="View from a mountain of the National Palace in Portugal">
    </figure>
  </div>
  <a href="/pages/photography.html" class="btn">View all photography</a>
</div>
