<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2 id="podcast">Breaking into UX Podcast</h2>
        <p>I was interviewed by Timi Olutu, a researcher at WhatUsersDo alongside Omar Akhtar, a digital recruiter at Harvey Nash, about breaking into a UX career.
        <p>Here you can listen to our honest career journeys. The challenges, the ups and the downs.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/320950251&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>
    </div>
  </div>
</section>
