<section>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
      <div class="item active" data-slide="0">
        <div class="row">
          <div id="superbreak" class="col-xs-12 col-sm-8 position central no-padding">
            <div class="col-xs-12 col-sm-6">
              <h3 class="no-margin top">SuperBreak</h3>
              <p class="col-xs-12 col-md-10 no-padding">SuperBreak is a travel website for short breaks. I moderated a day of usability sessions with 6 participants, across desktop and tablet, discovering general issues and areas for AB testing of their site. From this, I provided actionable recommendations to fix their usability issues, and worked with the CRO team at RedEye to discuss future AB tests.</p>
              <a class="btn secondary" href="www.superbreak.com/">Visit SuperBreak site</a>
            </div>
            <div class="col-xs-6 col-sm-6">
              <img src="/images/portfolio/clients/sb.png" alt="Screen shot of the current SuperBreak homepage">
            </div>
          </div>
        </div>
      </div>

      <div class="item" data-slide="1">
        <div class="row">
          <div id="halfords" class="col-xs-12 col-sm-8 position central no-padding">
            <div class="col-xs-6 col-sm-6">
              <img src="/images/portfolio/clients/halfords-both.jpg" alt="Screen shot of the Halfords Autocentres store page I created">
            </div>
            <div class="col-xs-12 col-sm-6">
              <h3 class="no-margin top">Halford Autocentres</h3>
              <p class="col-xs-12 col-md-10 no-padding">For Halfords Autocentres, I designed a new customer journey and new store pages. Taking their analytics, briefs with the client, and using competitor analysis, I designed a whole new purchase journey for services. I also wireframed their new autocentre store pages, which are the first part of the project to go live!</p>
              <a class="btn secondary" href="http://www.halfordsautocentres.com/autocentres/barking">Visit a live autocentre page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 position central text-center">
    <div id="carousel-controls">
      <a href="#myCarousel" role="button" data-slide-to="0"><img src="/images/portfolio/clients/sb-square.png" class="img-control" title="View the SuperBreak project"></a>
      <span class="sr-only">SuperBreak project</span>

      <a href="#myCarousel" role="button" data-slide-to="1"><img src="/images/portfolio/clients/halfords.png" class="img-control"></a>
      <span class="sr-only">Halfords project</span>
    </div>
  </div>

</section>