<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Skills</h2>
        <h3 class="section-subheading text-muted">woo!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="timeline-inverted">
            <div class="timeline-image white">
              <img class="img-circle img-responsive" src="/images/portfolio/cfg-logo.png" alt="Code First Girls logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Ones to Watch 2016</h4>
                <h4 class="subheading">CodeFirst:Girls</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">May 2016, I was chosen as one of CodeFirst:Girls' ones to watch!</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/images/portfolio/teaching/railsgirls-1.jpg" alt="Elizabeth teaching at RailsGirls">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Teaching</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">My adventures in spreading my knowledgeFrom Code Club to CodeFirst:Girls, all the way to STEMNet Ambassadors and CodingLondon.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/images/portfolio/speaking/LJC-square.jpg" alt="Elizabeth speaking at London Java Community">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Speaking</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I may talk a lot but I put it to good use. London Java Community, ThoughtWorks, TalkUX and more.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/images/photos/italy-2-square.jpg" alt="Photograph from Italy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Photography</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I capture moments from my life to share From UK, Calais and Portugal, to India, New York and Germany.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
                <h4>
                  <br>Watch this space
                </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>