<section id="highlights" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading add-margin bottom">My Highlights</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 no-padding">
        <ul class="timeline">
          <li class="timeline-inverted">
            <div class="timeline-image white">
              <img class="img-circle img-responsive" src="/images/portfolio/cfg-logo.png" alt="Code First Girls logo">
            </div>
            <div class="timeline-panel">
              <a href="//www.codefirstgirls.org.uk/ones-to-watch-2016.html">
                <div class="timeline-heading">
                  <h4>Ones to Watch 2016</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">May 2016, I was chosen as one of CodeFirst:Girls' ones to watch!</p>
                </div>
              </a>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/images/portfolio/code.png" alt="Code from the EChesters website">
            </div>
            <div class="timeline-panel">
              <a href="/pages/photography.html">
                <div class="timeline-heading">
                  <h4>Development</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Professional turned hobbyist. Check out all my development projects and contributions to the Open Source community.</p>
                </div>
              </a>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/images/portfolio/speaking/LJC-square.jpg" alt="Elizabeth speaking at London Java Community">
            </div>
            <div class="timeline-panel">
              <a href="/pages/speaking.html">
                <div class="timeline-heading">
                  <h4>Speaking</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">I may talk a lot but I put it to good use. London Java Community, Ladies that UX, TalkUX and more.</p>
                </div>
              </a>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/images/portfolio/teaching/railsgirls-1.jpg" alt="Elizabeth teaching at RailsGirls">
            </div>
            <div class="timeline-panel">
              <a href="/pages/teaching.html">
                <div class="timeline-heading">
                  <h4>Teaching</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">My adventures in spreading my knowledge. From Code Club and CodeFirst:Girls to STEMNet Ambassadors and my own CodingLondon.</p>
                </div>
              </a>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/images/photos/italy-2-square.jpg" alt="Photograph from Italy">
            </div>
            <div class="timeline-panel">
              <a href="/pages/photography.html">
                <div class="timeline-heading">
                  <h4>Photography</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">I capture moments from my life to share with you. Take a peek.</p>
                </div>
              </a>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
                <h4>
                  <br>Watch this space
                </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
