<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2>UXChat</h2>
        <p>I was a guest host for #UXChat, talking about and answering questions about accessibility. #UXChat is a weekly Twitter chat, every Thursday at 4pm GMT, ran by WhatUsersDo.</p>

        <p>My #UXChat was also the busiest chat so far, with over 20 active people taking part!</p>

        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/EChesters">@EChesters</a> <a href="https://twitter.com/welshfruit">@welshfruit</a> <a href="https://twitter.com/sandyho87">@sandyho87</a> thanks for taking in part in last wk&#39;s chat! Busiest ever w/ 20+ *active* people🙌  <a href="https://t.co/gzHHJRypZK">https://t.co/gzHHJRypZK</a></p>&mdash; WhatUsersDo (@whatusersdo) <a href="https://twitter.com/whatusersdo/status/839508716835721217">March 8, 2017</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a class="btn primary col-xs-12 col-sm-10 col-md-8 position central add-margin top" href="http://whatusersdo.com/blog/accessibility-fit-role-organisation-uxchat-roundup/?utm_campaign=WhatUsersDo&utm_medium=email&utm_source=WhatUsersDo_12" lang="en">Read the chat roundup here</a>

      </div>
      <div class="col-xs-12 col-sm-6 hidden-xs">
        <img src="/images/portfolio/speaking/uxchat.jpg" alt="Promotional image with my face and my UX chat questions">
      </div>
    </div>
  </div>
</section>
