<div id="brief-cv" class="slide bg-light-gray">
  <div class="title col-xs-12 col-md-10 position central">
    <h2>Experience</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>UX Specialist</h3>
        <h4>Mendeley <span class="date add-margin left">December 2017 - Present</span></h4>
        <p>At Mendeley, I look into how researchers and academics organise and maintain their references, take notes on papers and then collate those early thoughts to create manuscripts. I interview users weekly, from initial exploration into user value to usability testing design solutions.</p>
        <ul class="skills">
          <li>User research</li>
          <li>Wireframe</li>
          <li>Accessibility</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <h3>UX Consultant</h3>
        <h4>RedEye <span class="date add-margin left">May 2015 - December 2017</span></h4>
        <p>Currently a UX consultant, I conduct expert reviews, user testing, research and reports. I also built wireframes in-browser with HTML and in Axure. As an agency our work varied across industries, including e-commerce, travel and education. I both moderated and observe user sessions across all devices.</p>
        <ul class="skills">
          <li>UX</li>
          <li>Usability testing</li>
          <li>Prototyping</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
          <h3>Client Integration Engineer</h3>
          <h4>Cognia <span class="date add-margin left">June 2015 - April 2016</span></h4>
        <p>As well as being a developer to integrate clients into our platform, building payment processors and telephony menus, I conducted all of the UX needs for the startup. I worked on projects like the in-house knowledge base and API experience from onboarding to the documentation.</p>
        <ul class="skills">
          <li>UX</li>
          <li>Java</li>
          <li>Client relations</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <h3>Consultant</h3>
        <h4>ThoughtWorks <span class="date add-margin left">March 2014 - May 2015</span></h4>
        <p>Hired as a developer and staffed as a UX-er, I worked and trained with ThoughtWorks, in Manchester, London, India and Hamburg. My main projects were ThoughtWorks.com and A World At School, working on visual design, user stories and client workshops.</p>
        <ul class="skills">
          <li>UX</li>
          <li>Consulting</li>
          <li>Agile</li>
        </ul>
      </div>
      <div class="text-center col-xs-12 no-padding add-margin top">
        <a href="uk.linkedin.com/in/elizabeth-chesters-a9297883" class="btn position central col-xs-12 col-sm-4 col-md-3">Connect with me on LinkedIn</a>
      </div>
    </div>
  </div>
</div>