<section class="bg-light-gray">
  <div class="container double-padding vertical">
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">User Experience</h4>
        <p class="text-muted">UX is my day and my night. Crafting, researching and writing about how users tick, trends in technology and how we as technologists should be inclusive for everyone.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-globe fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
        <h4 class="service-heading">Internationalisation</h4>
        <p class="text-muted">I never experienced my Portuguese side, so now I study every culture there is. Learning languages, peoples' normal, and how they expect their experiences.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
        <h4 class="service-heading">Research</h4>
        <p class="text-muted">While I do a broad range of UX things, what really makes me tick is <em>research</em>. Without users, interviews and usability testing, everything is a hypothesis.</p>
      </div>
    </div>
  </div>
</section>