<div class="col-xs-12 col-md-6 no-padding">
  <div class="image-container">
    <img src="/images/india-me.jpg" alt="Elizabeth in her colour blindness t-shirt, with her friend Eddie wearing a developer hoodie">
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="description col-xs-12 col-sm-10 col-md-8 position central">
    <h1 class="hello-title">Hello! Olá! Buna!</h1>
    <p>I'm Elizabeth Chesters, a UX researcher by day and a developer by night. Here you can find my writing, my <a href="//twitter.com/echesters">tweets</a> and my <a href="/pages/speaking.html">talks</a> about all things UX.</p>
    <p>My UX skills have been put to the test by a range of clients and organisations. From ThoughtWorks, A World At School, to EmpowerHack. I'm the one on the left in the photo, wearing red!</p>
    <p>For the times I'm not at my laptop, you'll find me dancing or <a href="/pages/photography.html">behind a camera</a>.</p>

    <div class="add-margin top text-center col-xs-12">
      <div class="col-xs-12 col-sm-6">
        <a href="/#blog" class="btn primary col-xs-12">Blog</a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/portfolio.html" class="btn primary col-xs-12">Portfolio</a>
      </div>
    </div>
  </div>
</div>
