<div id="brief-cv" class="slide">
  <div class="title col-xs-12 col-md-10 position central">
    <h2>My Experience</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>UX Consultant</h3>
        <h4>RedEye <span class="date add-margin left">May 2015 - Present</span></h4>
        <p>Currently a UX consultant, I conduct expert reviews, user testing, research and reports. I also build wireframes in-browser with HTML and in Axure. As an agency our work is varied across industries, like e-commerce, travel and education. Within our labs I both moderate and observe user sessions across all devices.</p>
        <ul class="skills">
          <li>UX</li>
          <li>User research</li>
          <li>Prototyping</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
          <h3>Client Integration Engineer</h3>
          <h4>Cognia <span class="date add-margin left">June 2015 - April 2016</span></h4>
        <p>As well as being a developer to integrate clients into our platform, building payment processors and telephony menus, I conducted all of the UX needs for the startup. I worked on projects like the in-house knowledge base and API experience from onboarding to the documentation.</p>
        <ul class="skills">
          <li>UX</li>
          <li>Java</li>
          <li>Client relations</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>Consultant</h3>
        <h4>ThoughtWorks <span class="date add-margin left">March 2014 - May 2015</span></h4>
        <p>Hired as a developer and staffed as a UX-er, I worked and trained with ThoughtWorks, in Manchester, London, India and Hamburg. My main projects were ThoughtWorks.com and A World At School, working on visual design, user stories and client workshops.</p>
        <ul class="skills">
          <li>UX</li>
          <li>Consulting</li>
          <li>Agile</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <h3>Application Server Developer</h3>
        <h4>CDL <span class="date add-margin left">June 2012 - August 2013</span></h4>
        <p>Here I worked on software for call centres, and was first formally introduced to usability. I worked on a range of challenges from usability features, card reuse system to being a part of the infrastructure team for my last 6 weeks.</p>
        <ul class="skills">
          <li>Java</li>
          <li>Usability</li>
          <li>Agile</li>
        </ul>
      </div>
      <div class="text-center col-xs-12 no-padding">
        <a href="uk.linkedin.com/in/elizabeth-chesters-a9297883" class="btn position central col-xs-12 col-sm-4 col-md-3">Connect on LinkedIn</a>
      </div>
    </div>
  </div>
</div>