<div id="teaching" class="small-slide">
  <div class="title white col-xs-12 col-md-10 position central">
    <h2>Teaching</h2>
    <div class="boxes">
      <div class="col-xs-12 col-md-4 remove-padding left">
        <h3>CodeFirst:Girls</h3>
        <p>For 2 years I have been <a href="//www.codefirstgirls.org.uk/meet-the-instructors.html">volunteering with CodeFirst:Girls</a>. Starting with their Ruby course in Manchester, to date I have taught basic web development, Python and Ruby in London. In addition to the courses I've also ran my UX Master Class twice!</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <h3>23 Code Street</h3>
        <p>For 13 weeks I co-taught with the amazing <a href="//www.kate-alexander.com/">Kate Alexander</a> for <a href="//23codestreet.com/">23 Code Street</a>, a course where for every person taught in London, we teach a disadvantaged woman in India. The course teaches basic web development, Node and version control.</p>
        <div class="text-center">
        </div>
      </div>
      <div class="col-xs-12 col-md-4 no-padding">
        <h3>Tech Community</h3>
        <p>I volunteer for many groups in the tech community including a committee member of the Manchester Java Community. To date <a href="/pages/speaking.html">I've spoken at</a> Ladies that UX Manchester and London, Women Hack for Non Profits, London Java Community and EmpowerHack.</p>
      </div>
    </div>
    <div class="text-center col-xs-12 no-padding">
      <a href="/pages/teaching.html" class="btn position central col-xs-12 col-sm-4 col-md-3">Read about my teaching</a>
    </div>
  </div>
</div>