---
title: A World at School
---
<!DOCTYPE HTML>
<html locale="en" xml:lang="en" lang="en">
  {% include head.html %}
  <body>
  	<div class="container-fluid">
      <div class="row">
        {% include navbar.html %}

      <div class="banner awas col-xs-12 col-md-12">
    	<h2 class="page-heading">A World At School</h2>
      </div>

      <div class="col-xs-12 content" id="portfolio">
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 position central">
          <section>
            <p class="summary">A World At School is an organisation campaigning for children's education all around the world. As a UX consultant in a 5 week project, my role was to quickly understand the business so that we could raise awareness, provide user resources for campaigning and most importantly, get signatures for <a href="www.aworldatschool.org/upforschool">#UpForSchool</a>!</p>
          </section>
          <p class="sidenote">Unfortunately as part of my NDA, I am unable to share pictures of mock-ups, wireframes or user stories.</p>

	        <section>
	        	<h2>Project Objectives</h2>
	        	<div class="objectives">
		        	<ol>
		        		<li><p>Increase user activity on the website, specifically around the #UpForSchool campaign</p></li>
		        		<li><p>Improve use of space on the site for content placement</p></li>
		        		<li><p>Refresh and update the website's overall look and feel</p></li>
		        	</ol>
		        </div>
	        </section>
          <section>
            <h2>Methodologies</h2>
            <h3>Inception</h3>
            <p>I ran a full day workshop with both clients to tract information about the business, their domain and their users. Through an interactive session of creating personas, empathy maps and user journeys, we were able to grasp the clientele and their user base.</p>

            <h4>Personas and Empathy Mappings</h4>
            <p>As part of the inception, we needed to extract as much information as possible about their business. By engaging the clients in creating multiple personas for the website we knew exactly who we were targeting and who our priority was.</p>

            <div id="images col-xs-12">
              <img src="../images/portfolio/awas/awas-3.jpg" class="col-xs-12 col-md-6" alt="Top half of the empathy mapping, with sticky notes and a template demonstrating the user's emotions through their experience">
              <img src="../images/portfolio/awas/awas-2.jpg" class="col-xs-12 col-md-6" alt="Bottom half of the empathy mapping, with sticky notes and a template demonstrating the user's emotions through their experience">
            </div>

            <h4>User Journeys</h4>
            <p>After gaining insight of the business, I then gathered feedback of the current issues our clients knew their users were having. Focusing on the highest priority of pages we drew out a timeline of each user going through each step of the journey. This highlighted the journeys our clients wanted to guide our users to have. This really highlighted where to link pages and the call to actions we needed on each page. </p>

            <h3>Wireframes, Sketches and Mockups</h3>
            <p>For the initial prototypes, we used sticky notes in order to define sections. This allowed to move the notes around and repriorise the content. Using the required page content and the user journeys I could then translate this into a high-fidelity mock-up. Each sticky note then translated into the zebra look and feel for flexibility that the client then understood.</p>

            <p>After sketching and wireframing with sticky notes, I then used these to create hi-fi mockups in PhotoShop. I used the zebra look and feel, allowing the clients at a future ate to re-arrange their content to suit their needs.</p>

            <h3>Empathetic Design</h3>
            <p>As part of the domain, it was clear that empathetic design was to play a huge part in the design. I researched how to design for emotion, particularly using strong imagery. Competitive analysis of how charities such as WWF and Charity Water had used imagery also played a huge part in how I designed around the images I could use.</p>

            <div id="images col-xs-12">
              <img src="../images/portfolio/awas/awas-petition-4.jpg" class="col-xs-12" alt="Screenshot of the updated up for school campaigning page">
            </div>
            <p class="sidenote">Unfortunately this is a screenshot of the website using the website time machine just after our project deadline. Not all of the CSS has been saved.</p>

            <h3>A/B Testing</h3>
            <p>As the UpForSchool campaign was the core part of the business we did A/B testing on the peition page to ensure we were improving user engagement.</p>
            <p>The tool we used was Optimisely, and in one afternoon we saw an increase in user engagement in my design by over <span class="emphasise">300%!</span></p>

            <h3>Screen-Reader First</h3>
            <p>From my love of accessibility I came up with a technique built on the idea of experimenting with mental models. The idea being that if anyone can keep track of the page as you read it out to them (and they can't see any context), they can build up a strong mental model and understand the page. The aim of this technique is to highlight the story of the page. As I read out the mockup, it was clear where content came across as complicated and showed earlier on where users were struggling to keep track of the page.</p>

            <h3>User Interviews</h3>
            <p>In the inception we highlighted different types of personas, including teachers. Luckily I knew a few teacher trainees who I asked to question. Over the phone I asked questions on how they were motivated in campaigning, what it would take for them to dedicate classes to the A World At School cause, and how we could engage teachers in the cause.</p>

            <p>In addition to answering our own questions, it also became clear the issues we were facing. Main issues highlighted were around how to present this whole campaign as not just another petition.</p>

            <h3>User Testing</h3>
            <p>The majority of my user testing were with people around the office. I took every opportunity to grab time with people who had a spare 20 minutes to offer suggestions on the mockups and do set tasks of finding certain pages.</p>
          </section>
          <section>
            <h2>Results</h2>
            <h3>Failures</h3>
            <p>As this was my first project where I was explicitly the only UX designer on my team, I wish I had had the communication skills and the time to sit with the developers to really offer an in-depth explanation of user experience. One of the biggest struggles I had was developers not sticking to the mockups which had been approved by clients, team members demanding mock-ups straight away without considering the research that needed to happen beforehand. To overcome this I organised a quick walk-through of a process by a senior UX consultant in the office, but I don't feel I did enough myself.</p>

            <h3>Successes</h3>
            <p>From AB testing we measured the 300% increase in petition signatues with my design.<p>
            <p>My designs received great feedback from Sarah Brown, Gordon Brown's wife who is the head of A World At School.</p>
            <p>Clients now have new flexibility of clearly defined content sections, in order to move them around with having to worry about layout.</p>
            <p>I was able to experiment with my screen-reader first design.</p>
            <p>After the project had ended, my team were invited to be featured in <a href="http://www.aworldatschool.org/news/entry/my-inspirational-teacher-by-a-world-at-school-website-developers-1948">an article supporting the #UpForSchool campaign</a>. In addition, my clients contacted me again after I had left ThoughtWorks to discuss how I had developed the inception process, so that they could run a similar workshop before they attended a UN meeting.</p>
            <p>Leading on from the inception, I turned this into my first <a href="/ux-workshop/">UX Workshop for CodeFirst:Girls</a>. After feedback, there are now future plans for this to be ran in London again.</p>
          </section>
	    </div>
      </div>
    </div>
    </div>

    {% include footer.html %}
    
  </body>
</html>