---
title: Speaking - UX Portfolio
---
<!DOCTYPE HTML>
<html locale="en" xml:lang="en" lang="en">
  {% include head.html %}
  <body>
  	<div class="container-fluid">
      <div class="row">
      {% include navbar.html %}

      <div class="banner speaking col-xs-12 col-md-12">
    	 <h2 class="portfolio-title">Speaking</h2>
      </div>

      <div class="col-xs-12 content" id="portfolio">
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 position central">
        	<h3>London Java Community</h3>
        	<p>Moving into the UX discipline has made me really want to share the fact it's not tied to one discipline. Here I talk about how developers can drive the experience of their product.</p>
					<iframe width="854" height="480" src="https://www.youtube.com/embed/d8h2I989Kx0" frameborder="0" allowfullscreen></iframe>
	      </div>

        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 position central">
        	<h3>Talk UX</h3>
        	<p>Back in March 2015, I spoke alongside Rebecca Topps at the Ladies that UX conference; Talk UX. We spoke about accessibility, comparing and contrasting the needs of those with impairments and cultural differences.</p>
					<iframe width="854" height="480" src="https://www.youtube.com/embed/KlGczAq7r6w" frameborder="0" allowfullscreen></iframe>
	      </div>
     	</div>
    </div>
  </div>

  {% include footer.html %}

  </body>
</html>
