---
layout: default
title: UX Masterclass| EChesters
header: UX Masterclass
description: A 1-day hands-on workshop introducing user experience techniques
image: /images/ux-master/banner.jpg
---

{% include _ux-master/ux-banner.html %}
{% include _ux-master/about-masterclass.html %}
{% include _ux-master/material.html %}
{% include _ux-master/testimonial-1.html %}
{% include _ux-master/volunteer.html %}
{% include _ux-master/sponsors.html %}
{% include _ux-master/testimonial-2.html %}
{% include _ux-master/gallery.html %}
{% include _ux-master/contact.html %}
{% include _ux-master/faq.html %}

{% include _ux-master/credit.html %}
