<div id="banner" class="slide full-height">
  <div class="col-xs-12 col-md-7 banner-title position central">
    <div class="row">
      <div class="col-xs-12 description">
        <div class="col-xs-12">
          <p class="hello-title">Hello!</p>
          <h2 class="remove-margin top">I'm Elizabeth Chesters</h2>
        </div>
        <div class="col-xs-12">
          <p class="col-xs-12 bio no-padding no-margin">A UX consultant in London and a freelance UX-er, with a Computer Science background. Here, you can find my work or connect with me if you have a project or question in mind!</p>
        </div>
          <p class="col-xs-12">I'm also a <a href="http://www.codefirstgirls.org.uk/ones-to-watch-2016.html">One to Watch 2016</a>!</p>
        <div class="text-center">
          <a href="/" class="link add-margin horizontal">My blog</a>
          <a href="/portfolio.html" class="link margin-horizontal">My portfolio</a>
        </div>
      </div>
    </div>
  </div>
</div>