<!DOCTYPE HTML>
<html locale="en" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="EChesters" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="pure-g">
        <nav>
          <div class="nested-nav pure-u-md-14-24 pure-u-sm-1-1 position central">
            <h1 class="site-title"><a href="/">EChesters</a></h1>
            <ul>
              <li><a href="/about.html">About</a></li>
              <li><a href="//echesters.github.io/DailyUI/">Daily UI</a></li>
              <!-- <li>Contact</li> -->
            </ul>
          </div>
        </nav>
        {{ content }}
      </div>
    </div>
  </body>
</html>
