<!DOCTYPE HTML>
<html locale="en" xml:lang="en" lang="en">
  {% include head.html %}

  <body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

    <div class="footer-padding">
      <div class="container-fluid no-padding">
        <div class="row">
          {% include navbar.html %}
        </div>

        <div role="main" id="content" tabindex="-1">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>

  </body>
</html>